:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-text-color: #ffffff;
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --section-pad-top: 94px;
  --section-pad-bott: 94px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: var(--main-font);
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
  .container .clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  .header & {
    display: flex;
    align-items: center;
  }
  .footer & {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}*/
.header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.contact-list {
  display: none;
}

.menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .nav-information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 84px;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .menu__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }
  .menu .link.current {
    color: var(--accent-color);
  }
  .current {
    position: relative;
    padding-bottom: 39px;
  }
  .current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 2px;
    -webkit-transition: opacity 250ms var(--timing-function);
    transition: opacity 250ms var(--timing-function);
  }
  .contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-list__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  .contact-list__link:hover, .contact-list__link:focus {
    color: var(--accent-color);
  }
  .contact-list__icon-mail {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
  .contact-list__icon-phone {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .contact-list__link {
    font-size: 14px;
    line-height: 1.14;
  }
  .contact-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
  .contact-list__item {
    -webkit-transition: fill 250ms var(--timing-function);
    transition: fill 250ms var(--timing-function);
  }
  .contact-list__item:not(:last-child) {
    margin-right: 30px;
  }
  .contact-list__item:hover, .contact-list__item:focus {
    fill: var(--accent-color);
  }
  .contact-list__icon-mail {
    width: 16px;
    height: 12px;
  }
  .contact-list__icon-phone {
    width: 10px;
    height: 16px;
  }
}

/*

  .nav-information {
    display: flex;
    align-items: center;
  }
  

  
}

/*.burger-btn,
.mobile-menu-close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}
.burger-btn__icon {
  width: 40px;
  height: 40px;
}
.mobile-menu-close-icon {
  width: 40px;
  height: 40px;
}
.mobile-menu-close-btn {
  position: absolute;
  top: 10;
  right: 15px;
}*/
/*.header {
  padding-top: 32px;
  padding-bottom: 32px;
  border: 1px solid #ececec;
}

.nav-information {
  display: flex;
  align-items: center;
}*/
.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #555555;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/bg/header-img-mobile.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/bg/header-img-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-color: #555555;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/bg/header-img-mobile@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/bg/header-img-mobile@2x.jpg);
  }
}

.hero-title {
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #555555;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/bg/header-img-tablet.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/bg/header-img-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/bg/header-img-tablet@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/bg/header-img-tablet@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    padding-left: 189px;
    padding-right: 189px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: #555555;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/bg/header-img-desktop.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/bg/header-img-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-color: #555555;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/bg/header-img-desktop@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/bg/header-img-desktop@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
    padding-left: 252px;
    padding-right: 252px;
  }
}

/*.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #555555;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}
.hero-title {
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 900;
  padding-left: 252px;
  padding-right: 252px;
}
*/
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .social-list__item:not(:last-child) {
  margin-right: 10px;
}

.footer .social-list__icon {
  fill: var(--secondary-text-color);
}

.footer .social-list__link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.1);
  height: 44px;
  width: 44px;
}

.address-main {
  font-style: normal;
}

.address__title {
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 8px;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.address__info {
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

.footer-wraper {
  margin-top: 60px;
  margin-bottom: 60px;
}

.wraper-title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.footer-form__input {
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
  border-radius: 4px;
  min-width: 450px;
  color: var(--secondary-text-color);
  padding: 16px 15px;
  margin-bottom: 20px;
}

.footer-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--secondary-text-color);
  height: 50px;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 29px;
  border: transparent;
  cursor: pointer;
  margin: 0 auto;
}

.footer-button__icon {
  margin-left: 10px;
  fill: var(--secondary-text-color);
}

@media screen and (min-width: 480px) {
  .address-main {
    margin-top: 20px;
  }
}

/*.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.address-main {
  font-style: normal;
}
.address {
  margin-top: 20px;

  &__title {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.71;
  }
}

.address__info {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms var(--timing-function);

  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.address__item:not(:last-child) {
  padding-bottom: 9px;
}

.left-parts {
  margin-right: 70px;
}

.wraper-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer .social-list__link {
  box-sizing: border-box;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.1);
  height: 44px;
  width: 44px;
}
.footer .social-list__item:not(:last-child) {
  margin-right: 10px;
}
.footer .social-list__icon {
  fill: var(--secondary-text-color);
}

.footer-wraper {
  margin-right: 93px;
}

.footer-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}
.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-text-color);
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 29px;
  border: transparent;
  cursor: pointer;

  &__icon {
    margin-left: 10px;
    fill: var(--secondary-text-color);
  }
}
.footer-form__input {
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 15px;
  min-width: 358px;
  color: var(--secondary-text-color);
  padding: 16px 15px;
}
*/
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--title-text-color);
}

.logo__accent-text {
  color: var(--accent-color);
}

.logo__dark-theme {
  color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
  }
}

/*.mobile-menu__list {
  margin-bottom: 70px;
}*/
/*.logo {
  color: var(--title-text-color);
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-right: 93px;
}

.logo__dark-theme {
  color: var(--secondary-text-color);
}
*/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100vw;
  max-width: 480px;
  height: 100vh;
  padding: 48px 40px;
  background-color: bisque;
  -webkit-transform: translateY(-100%) translateX(-50%);
          transform: translateY(-100%) translateX(-50%);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  opacity: 0;
}

.is-open {
  -webkit-transform: translateY(0) translateX(-50%);
          transform: translateY(0) translateX(-50%);
  opacity: 1;
}

.burger-btn,
.mobile-menu-close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.mobile-menu-close-btn:hover, .mobile-menu-close-btn:focus {
  fill: var(--accent-color);
}

.mobile-menu-close-icon {
  width: 40px;
  height: 40px;
}

.burger-btn__icon {
  width: 40px;
  height: 40px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__list {
  margin-bottom: 302px;
}

.contact-menu {
  margin-bottom: 64px;
}

.contact-menu__item-phone {
  margin-bottom: 32px;
}

.contact-menu_link-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.contact-menu_link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.menu-social__list:not(:last-child) {
  margin-right: 20px;
}

/*.nav-information {
  display: flex;
  align-items: center;
}
.menu {
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}
.menu__link {
  color: var(--title-text-color);
  transition: color 250ms var(--timing-function);
  padding-bottom: 32px;
  .menu &:hover,
  .menu &:focus {
    color: var(--accent-color);
  }
}

.menu .link.current {
  color: var(--accent-color);
}
.menu__item:not(:last-child) {
  margin-right: 50px;
}*/
/*.contact-list__link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contact-list__item {
  margin-right: 30px;
  transition: fill 250ms var(--timing-function);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.contact-list__icon {
  display: flex;
  align-items: center;
  margin-right: 10px;

  &::before {
    display: block;
    content: "";
    margin-right: 10px;
  }
}
.current {
  position: relative;
  padding-bottom: 39px;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 2px;

    transition: opacity 250ms var(--timing-function);
  }
}
*/
.modal-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  cursor: pointer;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
}

.features-section {
  padding-top: 60px;
  margin: 0 auto;
}

.visually-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f5f4fa;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  padding: 25px 0;
}

.features__title {
  text-align: center;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  min-width: 270px;
  margin-bottom: 30px;
}

.visually-list__icon {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -15px;
  }
  .features__item {
    margin: 15px;
    width: calc((768px - 4 * 15px) / 2);
  }
  .features__title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .features-section {
    padding-top: 94px;
    padding-bottom: 47px;
  }
  .features__item {
    width: calc((1200px - 8 * 15px) / 4);
  }
}

/*.features-section {
  padding-top: var(--section-pad-top);
  padding-bottom: 47px;
}
.features {
  display: flex;
  align-items: center;
  margin-left: -30px;
  margin-top: -30px;

  & .features__title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}
.features__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 4 -30px);
}


.visually-list__icon:not(:last-child) {
  margin-right: 30px;
}
.visually-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}*/
@media screen and (max-width: 1199px) {
  .about-us {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .about-us {
    padding-top: 47px;
    padding-bottom: var(--section-pad-bott);
  }
  .about-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
  }
  .about-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .about-list__item {
    position: relative;
    margin-left: 30px;
    margin-top: 30px;
    -ms-flex-preferred-size: calc(100% / 3 -30px);
        flex-basis: calc(100% / 3 -30px);
  }
  .overlay-action {
    position: absolute;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
    left: 0;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
  }
  .overlay-action__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-team .social-list {
  padding-left: 32px;
  padding-right: 32px;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.our-team .social-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: #ffffff;
}

.team-list {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  margin-bottom: 10px;
}

.team-list__proffesion {
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  margin-bottom: 16px;
}

.team-members__item:not(.our-team__card:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .our-team {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f5f4fa;
  }
  .team-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-members {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -15px;
  }
  .team-members__item {
    margin: 15px;
    width: calc((768px - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .our-team {
    padding-top: var(--section-pad-top);
    padding-bottom: var(--section-pad-bott);
  }
  .team-members__item {
    width: calc((1200px - 8 * 15px) / 4);
  }
  .team-title {
    margin-bottom: 50px;
  }
}

/*.our-team {
  background-color: #f5f4fa;
  padding-top: var(--section-pad-top);
  padding-bottom: var(--section-pad-bott);
}
.team-members {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;

  &__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 3 -30px);
  }
}

.team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.team-list {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &__name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    margin-bottom: 10px;
  }

  &__proffesion {
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    margin-bottom: 16px;
  }
}
*/
.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.clients-list__item {
  margin: 15px;
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover,
.clients-list__link:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients-list__link {
    width: calc((480px - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list__link {
    width: calc((768px - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: var(--section-pad-top);
    padding-bottom: var(--section-pad-bott);
  }
  .clients-list__link {
    width: 170px;
    height: 90px;
  }
}

/*.clients {
  padding-top: 94px;
  padding-bottom: 94px;

  &-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #ffffff;
  transition: border 250ms var(--timing-function);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.clients-list__item {
  margin-right: 30px;
}

.clients-list__icon {
  fill: #afb1b8;
  transition: fill 250ms var(--timing-function);

  .clients-list__link:hover &,
  .clients-list__link:focus & {
    fill: var(--accent-color);
  }
}
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 250ms var(--timing-function);
  transition: all 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-height: 581px;
  min-width: 528px;
  background-color: var(--secondary-text-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal__close-icon {
  width: 11px;
  height: 11px;
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-field__all {
  display: block;
  position: relative;
  margin-top: 4px;
}

.form-field__form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  padding-left: 42px;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}

.form-field__form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.form-field__form-input:focus + .form-field__icon {
  fill: var(--accent-color);
}

.form-field {
  margin-bottom: 10px;
}

.form-field__title-area {
  width: 100%;
  resize: none;
  height: 120px;
  font-size: 14px;
  line-height: 1.71;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
  margin-top: 4px;
}

.form-field__title-area::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__title-area:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__title-area::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__title-area::placeholder {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__title-area:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form-label-agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.71;
}

.form-label-agree::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  cursor: pointer;
  background-image: url(/images/agree-form.svg);
  margin-left: 13px;
  margin-right: 8px;
}

.form-input-checkbox:checked + .form-label-agree::before {
  background-image: url(/images/icon-check-form.svg);
  background-color: var(--accent-color);
  border-radius: 4px;
}

.checkbox {
  margin-top: 15px;
}

.form-link {
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.71;
}

.buttom-input {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  padding: 10px 56px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-top: 30px;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.buttom-input:focus, .buttom-input:hover {
  background-color: #188ce8;
}
/*# sourceMappingURL=main.css.map */