.footer {
  background-color: #2f303a;
  padding-top: var(--section-mobile-pad-top);
  padding-bottom: var(--section-modile-pad-bott);
  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  & .social-list__item:not(:last-child) {
    margin-right: 10px;
  }
  & .social-list__icon {
    fill: var(--secondary-text-color);
  }
  & .social-list__link {
    box-sizing: border-box;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.1);
    height: 44px;
    width: 44px;
  }
}
.address-main {
  margin-top: 20px;
  margin-bottom: 60px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.address__info {
  color: rgba(255, 255, 255, 0.6);
}
.footer-wraper {
  margin-bottom: 60px;
}
.wraper-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-form {
  display: block;
}

.footer-form__input {
  margin-bottom: 20px;
  padding: 14px 0 14px 15px;
  min-width: 100%;

  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer-button {
  color: var(--secondary-text-color);
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 29px;
  border: transparent;
  cursor: pointer;
  margin: 0 auto;

  &__icon {
    margin-left: 10px;
    fill: var(--secondary-text-color);
  }
}
@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    flex-wrap: nowrap;
  }
  .left-parts {
    margin-left: 70px;
  }
}

/*.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.address-main {
  font-style: normal;
}
.address {
  margin-top: 20px;

  &__title {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.71;
  }
}

.address__info {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms var(--timing-function);

  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.address__item:not(:last-child) {
  padding-bottom: 9px;
}

.left-parts {
  margin-right: 70px;
}

.wraper-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer .social-list__link {
  box-sizing: border-box;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.1);
  height: 44px;
  width: 44px;
}
.footer .social-list__item:not(:last-child) {
  margin-right: 10px;
}
.footer .social-list__icon {
  fill: var(--secondary-text-color);
}

.footer-wraper {
  margin-right: 93px;
}

.footer-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}
.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-text-color);
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 29px;
  border: transparent;
  cursor: pointer;

  &__icon {
    margin-left: 10px;
    fill: var(--secondary-text-color);
  }
}
.footer-form__input {
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 15px;
  min-width: 358px;
  color: var(--secondary-text-color);
  padding: 16px 15px;
}
*/
