.modal-button {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  cursor: pointer;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
}
