.products-set {
  padding-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    justify-content: center;
  }
}
.products__card {
  display: flex;

  @media screen and (min-width: 768px) {
    margin: 15px;
    flex-basis: calc((100% - 4 * 15px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 6 * 15px) / 3);
  }
}
.products__link {
  display: flex;
  flex-direction: column;
}
.products__lable {
  flex-grow: 1;
}
.products__image {
  height: 100%;
  width: 100%;
  @media screen and (min-width: 768px) {
    height: 294px;
    object-fit: cover;
  }
}
.products__lable {
  border: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
.products__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.products__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
.products__thumb {
  position: relative;
  overflow: hidden;
}
.products__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  padding: 63px 24px;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms var(--timing-function),
    opacity 250ms var(--timing-function);

  .products__link:hover &,
  .products__link:focus & {
    transform: translateY(0);
    opacity: 1;
    transition: transform 250ms var(--timing-function),
      opacity 250ms var(--timing-function);
  }
}
